# Default properties file automatically detected by spring. 
# Override this by using --spring.config.location=file:///otherdir/another-location.properties 
# at startup command of this app. For overriding specific properties directly without a file, you can 
# use --property="value" in command, e.g. --scan.cron="* * * * * *".
# For more information about the properties listed below, read: https://github.com/thehyve/cbioportal-staging/blob/master/README.md

# A cron-like expression (UN*X definition)
scan.cron=0 0 0 * * *
# (optional) number of times to repeat the cron (default is set to -1 to repeat indefinitely):
#scan.cron.iterations=-1
# location to scan (local file system, e.g. file:///tmp or S3 location, e.g. s3://bucket/staging_dir):
scan.location=file:///tmp
# (optional) Minutes before trying to find a file specified by the yaml file that has not been found (default is 5 minutes; enable this prop to configure to something else)
#scan.retry.time=5

# (optional) local working directory (if not set, intermediate files will be stored in temporary folder, like /tmp):
#etl.working.dir=/custom/working/dir

# (optional) environment settings needed by S3 library. Set this when 
# running the tool outside EC2 environment:
#cloud.aws.region.static=eu-central-1
# (optional) aws credentials for access to S3 bucket:
#cloud.aws.credentials.accessKey=<aws-key>
#cloud.aws.credentials.secretKey=<aws-secret-key>
# Turn OFF any S3: leave this property enabled if *NOT* using S3, but disable it (and enable the ones above) otherwise:
spring.autoconfigure.exclude=org.springframework.cloud.aws.autoconfigure.context.ContextInstanceDataAutoConfiguration,org.springframework.cloud.aws.autoconfigure.context.ContextRegionProviderAutoConfiguration,org.springframework.cloud.aws.autoconfigure.context.ContextStackAutoConfiguration

# cbioportal mode, either "local" or "docker".
cbioportal.mode=docker
# properties for cbioportal.mode=docker:
cbioportal.docker.image=<image-name>
cbioportal.docker.network=<network-name>
cbioportal.docker.cbio.container=<cbio-container>

# Central share location (for validation reports and log files, can also be a S3 location).
central.share.location=file:///tmp
# (optional) Central share location web-portal
#central.share.location.portal=https://s3.console.aws.amazon.com/s3/buckets/my_bucket/myreports_folder

# Full transformation command and path to execute it
transformation.command.script=./umccr_wrapper_parser.py

#Validation level
validation.level = ERROR

#Mail properties
mail.to=<email>
mail.from=noreply@test.com
mail.smtp.user=noreply@test.com
mail.smtp.password=
mail.smtp.host=<smtp-host>
mail.debug=<boolean>
mail.transport.protocol=<transport-protocol>
mail.smtp.port=<smtp-port>
mail.smtp.auth=<boolean>
mail.smtp.ssl.enable=<boolean>
mail.smtp.starttls.enable=<boolean>


# default log level / you can use this to debug and troubleshoot issues
logging.level.root=INFO