# Default properties file automatically detected by spring. 
# Override this by using --spring.config.location=file:///otherdir/another-location.properties 
# at startup command of this app. For overriding specific properties directly without a file, you can 
# use --property="value" in command, e.g. --scan.cron="* * * * * *".

# A cron-like expression, extending the usual UN*X definition to include
# triggers on the second as well as minute, hour, day of month, month
# and day of week.  e.g. "0 * * * * MON-FRI" means once per minute on
# weekdays (at the top of the minute - the 0th second).
# Cron 0 * * * * = once every minute
# Cron 0 0 * * * = once every hour
# Cron 0 0 0 * * = once every day
scan.cron=0 0 0 * * *
# location to scan (local file system or S3 location):
# Local file system example:
#scan.location=file:///dir/staging_dir/
# S3 example:
# scan.location=s3://bucket/staging_dir
scan.location=s3://bucket/staging_dir

# working directory
etl.working.dir=file:///tmp

# environment settings needed by S3 library. This is needed when
# scan.location points to S3 and running the tool outside EC2 environment:
cloud.aws.region.static=eu-central-1
# (optional) aws credentials for access to S3 bucket. Set these when
# aws credentials have not been configured on machine or if default 
# aws credentials are different. Setting it here also improves performance
# of the S3 operations (probably because if these are not set, a slower 
# trial and error route is chosen):
#cloud.aws.credentials.accessKey=<aws-key>
#cloud.aws.credentials.secretKey=<aws-secret-key>


